Q1. An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

• Increase the stock of the "Shirt" product (add 50 more units) using increment/decrement operators

• Add a new product (e.g., "Smartphone")

Expected Output:

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [ ]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
             102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
             103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

products[102]["stock"] += 50
products[104] = {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}
print(products)

Q2. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. Final output should be in list

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

Expected Output:
['apple', 'grape', 'banana', 'orange']

In [ ]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

shopping_list = set(shopping_list)
print(shopping_list)

Q3. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}

Using set methods

• Find students who are in Course A but not in Course B (difference)

• Find students who are only in one of the two courses (symmetric difference)

Expected Output:

Students in Course A but not in Course B: {'Bob', 'John'}

Students only in one of the two courses: {'Eve', 'John', 'Bob', 'Charlie'}

In [ ]:
course_a = {"John", "Alice", "Bob", "David"} ; course_b = {"Alice", "Eve", "Charlie", "David"}


c1 = course_a.symmetric_difference(course_b); print(c1)
c2 = course_a.difference(course_b)         ; print(c2)

Q4. Write a Python program to store and display the details of a book.

The program should ask the user to input the following information:

Title of the book

Author’s name

Year of publication

Price of the booK

Store the entered details in a tuple.

Finally, display the book details in a proper format as shown below:

Expected Output:

Title: Harry Potter

Author: JK Rowlings

Year of Publication: 2000

Price: $180.0

In [2]:
title = input("Title of the book: "); 
name = input("Author’s name: ");
year = int(input("Year of publication: ")); 
price = int(input("Price of the booK: $"))

book = (title, name, year, price)
print(book)

Title of the book:  test
Author’s name:  test
Year of publication:  2000
Price of the booK: $ 180

('test', 'test', 2000, 180)

Q5. Write a program to check if a user’s chosen subject is available in the list of offered subjects.

Instructions:

Given a list of subjects, ask the user to input a subject.

Display whether the subject is available or not.

Expected Output:

Enter the subject you are interested in:  art

art is available.

In [11]:
off = ['arts', 'maths', 'physics', 'commerce', 'english']
chk = input("Enter the subject you are interested in: ").lower()

if chk in off:
    print(f"{chk} is available")
else:
    print(f"{chk} is not avilable")

Enter the subject you are interested in:  maths

maths is available

Q6. Write a Python program that asks the user to enter a number.

If the number is greater than 0, print "Positive".

If the number is less than 0, print "Negative".

If the number is exactly 0, print "Zero".

Expected Output:

Enter a number:  2

The number is Positive

---

Enter a number:  0

The number is Zero

---

Enter a number:  -1

The number is Negative

In [17]:
no = int(input('Enter your number: '))
if no > 0:
    print("The number is positive")
elif no < 0:
    print("The number is negative")
elif no == 0:
    print("The number is zero")
else:
    print("invalid number")

Enter your number:  0

The number is zero

Q7. Write a Python program that simulates a simple login system.

The correct username is 'admin' and the correct password is 'admin@123'

The program should take username and password as input from the user.

It should check the input and display messages according to the following conditions:

- If both username and password are correct → print "Login Successful".

- If username is wrong but password is correct → print "Invalid Username".

- If username is correct but password is wrong → print "Invalid Password".

- If both username and password are wrong → print "Invalid Username and Password".

In [25]:
cred = {"valid_user": "admin", "valid_pass": "admin@123"}
usr = input('Enter your Username'); 
password = input('Enter your password')
    
if usr == cred["valid_user"] and password == cred["valid_pass"]:
    print('Login Successfully')

elif usr != cred["valid_user"] and password == cred["valid_pass"]:
    print('Invalid username')

elif usr == cred["valid_user"] and password != cred["valid_pass"]:
    print('Invalid password')

else:
    print('Invalid Username and Password')

Enter your Username admin
Enter your password admin@123

Login Successfully

Q8.

student_details = {
    "Ali": {"age": 20, "grade": "A", "city": "Karachi"},
    "Sara": {"age": 21, "grade": "B", "city": "Lahore"},
    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},
    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"}
}

- Add a new student using method:
  "Zara": {"age": 20, "grade": "B", "city": "Multan"}

- Remove a student "Omer" using method

Expected Output:

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [27]:
student_details = { "Ali": {"age": 20, "grade": "A", "city": "Karachi"}, "Sara": {"age": 21, "grade": "B", "city": "Lahore"}, 
                    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"}, 
                    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"} }

student_details["Zara"] = {"age": 20, "grade": "B", "city": "Multan"}

print(student_details)

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Omar': {'age': 19, 'grade': 'A', 'city': 'Islamabad'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

Q9. Write program to check a person’s eligibility for a loan based on age, credit score, and income. This time, the eligibility criteria will be:

The person must be 18 years or older. The person must have a credit score of 650 or higher. The person must have an annual income of at least 30000 dollars If the person has a credit score of 700 or higher, they may still be eligible with an income of 25000 dollars or more.

Expected Output:

Enter your age:  22

Enter your credit score:  888

Enter your annual income: $ 800000

You are eligible for the loan!

---

Enter your age:  15

Enter your credit score:  800

Enter your annual income: $ 900000

You are not eligible for the loan due to age.

---

Enter your age:  35

Enter your credit score:  99

Enter your annual income: $ 900000

You are not eligible for the loan due to low credit score.

In [30]:
age = int(input('Enter your age: '))
cr = int(input('Enter credit score: '))
ai = int(input('Enter your annual income: $ '))

if age > 17 and ((cr > 649 and ai > 29999) or (cr > 699 and ai > 24999)):
    print("You are eligible for the loan!")
elif age < 18:
    print("You are not eligible for the loan due to age.")
elif cr < 650:
    print("You are not eligible for the loan due to low credit score.")

Enter your age:  13
Enter credit score:  50000
Enter your annual income: $  500000

You are not eligible for the loan due to age.

Q10. Write a Python program to check whether the entered letter is a vowel, a consonant, or invalid input.

The program should take a single character as input. If the character is a vowel (a, e, i, o, u in both upper and lower case), it will print "Vowel". If it is an alphabet but not a vowel, it will print "Consonant". Otherwise, it will print "Please enter valid alphabet".

Expected Output:

Enter a single letter:  a

a is a Vowel

---

Enter a single letter:  E

E is a Vowel

---

Enter a single letter:  z

z is a Consonant

---

Enter a single letter:  7

Please enter valid alphabet

In [38]:
vowel = ("a", "e", "i", "o", "u")

letter = input("Enter a single letter:").lower()

if letter in vowel and len(letter) == 1:
    print(f"{letter} is a Vowel")
elif letter.isalpha() and letter != vowel and len(letter) ==1 :
    print(f"{letter} is a consonant")
else:
    print("Please enter valid or single alphabet")

Enter a single letter: we

Please enter valid or single alphabet